body {
  background-color: rgba(245, 245, 245, 0.877);
  text-align: center;
}

header {
  color: rgb(255, 0, 140);
  padding-top: 20px;
}

.container {
  width: 300px;
  height: 600px;
  margin: 0;
}

.question {
  background-color: gray;
  width: 600px;
  height: 50%;
  margin: auto;
  padding: 10px;
  text-align: center;
}
